div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
    background-color: #423;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}